* {
    margin: 0;
    padding: 0;
}

.white {
    width: 100vw;
    height: 100vh;
    color: black;
    background-color: white;
}

.black {
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: black;
}

.asd {
    background: blue;
}